body{
	min-height: 100vh;
	background-color: hsl(212, 45%, 89%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.glob{
	background-color: hsl(0, 0%, 100%);
	text-align: center;
	padding: 12px;
	border-radius: 15px;
	border: 3px solid hsl(0, 0%, 100%);
	box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 3%);
	width: 280px;

}
img{
	display: block;
	max-width: 100%;
	border-radius: 10px;
}
.improve{
	font-size: 15px;
	font-family: "Outfit", sans-serif;
}
.big{
	font-weight: bold;
	font-size: 20px;
	color: hsl(218, 44%, 22%);
}
.small{
	color: hsl(220, 15%, 55%);
	padding-bottom: 5px;
}
.attribution{
	margin-top: 100px;
}